@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50;
}

button:disabled {
  @apply cursor-not-allowed;
}

input:focus,
select:focus {
  @apply outline-none ring-2 ring-blue-500;
}
